[Unit]
Description=FBS Interlock Gateway
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=wev222
Group=wev222
WorkingDirectory=/opt/fbs-interlock-gateway
ExecStart=/opt/fbs-interlock-gateway/fbs-interlock-gateway -config /opt/fbs-interlock-gateway/config.yaml
Restart=always
RestartSec=2
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target