[req]
prompt = no
distinguished_name = dn
x509_extensions = ca_ext

[dn]
CN = FBS Shelly Server CA

[ca_ext]
basicConstraints = critical,CA:true,pathlen:0
keyUsage = critical,keyCertSign,cRLSign
subjectKeyIdentifier = hash
